<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
	<h2 >Test Page</h2>
	<tr>
		<div align = "left" >		   
		     <h3><a  th:href="@{'/new'}">Add new</a></h3>     
	    </div>
	
	</tr>
	<tr>
	
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
    	<th>id</th>
      		<th>userid</th>
            <th>ts</th>
            <th>lat_long</th>
            <th>noun</th>
            <th>verb</th>
            <th>time_spent</th>
            <th>properties</th>
            <th>properties2</th>
            
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="object : ${list1 }">
      <td th:text="${object.id}">ID</td>
		<td th:text="${object.userid}">ID</td>
		<td th:text="${object.ts}">ID</td>
		<td th:text="${object.lat_long}">ID</td>
		<td th:text="${object.noun}">ID</td>
		<td th:text="${object.verb}">ID</td>
		<td th:text="${object.time_spent}">ID</td>
		<td th:text="${object.properties}">ID</td>
		<td th:text="${list2}">ID</td>
			    
		</tr> 
   
  </tbody>
</table>
                    
                 </div>
 
            </div> 
 
	</tr>
 
	</tbody>
	</table>
	<div>
</body>
</html>